body{

    background-color: rgb(212, 121, 111);

}

#btn{

    background-color: rgb(74 6 108);
    color: white;
    width: 180px;
    height: 30px;

}

#text1 , #email1 ,#pass1 {

    width: 188px;
    height: 21px;
    background-color: #A90121;
    color: white;

}
