* {
  background-color: rgb(42 40 40);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

#btn {
  background-color: #0043b3;
  width: 180px;
  height: 30px;
}

#text1,
#email1,
#pass1 {
  width: 188px;
  height: 21px;
  background-color: #0a0a0a;
  color: rgb(249 248 245);
}
